{% extends 'Quiztopia/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h2>Our Mission</h2>
    <p>At Quiztopia, our mission is to create a vibrant and engaging platform where knowledge meets fun. 
        We believe that learning should be an enjoyable experience, and through our suite of interactive quizzes, 
        we strive to make education accessible and entertaining for everyone.</p>

    <h2>What We Offer</h2>
    <ul>
        <li>A wide array of quizzes across various topics to challenge your knowledge.</li>
        <li>The opportunity for users to create and customize their own quizzes.</li>
        <li>A friendly leaderboard showcasing the top quiz enthusiasts and creators.</li>
        <li>The option to rate quizzes to help improve and encourage fantastic content.</li>
    </ul>

    <h2>Join Us</h2>
    <p>We invite you to be a part of our community! Whether you're here to take quizzes, create your own, or compete with others, 
        we hope you enjoy your experience at Quiztopia. Let's learn together!</p>

    <p>Created by 11D</p>

{% endblock %}