{% extends "Quiztopia/base.html" %}
{% load staticfiles %}

{% block title_block %}
    <title>Quiztopia | Categories</title>
{% endblock %}

{% block body_block %}
<div class="container text-center mt-4">
    <h1 class="mb-4">Quiz Categories</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col d-flex align-items-stretch">
            <div class="card shadow-sm h-100 w-100">
                <img src="{% static 'images/animal.png' %}" class="card-img-top" alt="Animals">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Animals</h5>
                    <a href="{% url 'Quiztopia:category' 'animals' %}" class="btn btn-primary mt-auto">Explore</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card shadow-sm h-100 w-100">
                <img src="{% static 'images/general_knowledge.png' %}" class="card-img-top" alt="General Knowledge">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">General Knowledge</h5>
                    <a href="{% url 'Quiztopia:category' 'general-knowledge' %}" class="btn btn-primary mt-auto">Explore</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card shadow-sm h-100 w-100">
                <img src="{% static 'images/movies_and_tv.png' %}" class="card-img-top" alt="Movies & TV">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Movies & TV</h5>
                    <a href="{% url 'Quiztopia:category' 'movies-and-tv' %}" class="btn btn-primary mt-auto">Explore</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card shadow-sm h-100 w-100">
                <img src="{% static 'images/other.png' %}" class="card-img-top" alt="Other">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Other</h5>
                    <a href="{% url 'Quiztopia:category' 'other' %}" class="btn btn-primary mt-auto">Explore</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card shadow-sm h-100 w-100">
                <img src="{% static 'images/sports.png' %}" class="card-img-top" alt="Sports">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Sports</h5>
                    <a href="{% url 'Quiztopia:category' 'sports' %}" class="btn btn-primary mt-auto">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}