{% extends 'Quiztopia/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Welcome to Quiztopia!</h1>
    <a href="{% url 'Quiztopia:categories' %}"><h2>Categories</h2></a>


    <table>
        <tr>
            <th>Position</th>
            <th>User</th>
            <th>Points</th>
            <th>Quizzes Taken</th>
        </tr>
        {% for user in top_users %}
            <tr>
                <td>#{{ forloop.counter }}</td>
                <td>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile" width="35" height="35" />
                    {% endif %}
                    {{ user.username }}
                </td>
                <td>{{ user.points }}</td>
                <td>{{ user.quizzes_taken }}</td>
            </tr>
            
        {% endfor %}
    </table>
{% endblock %}

