{% extends 'Quiztopia/base.html' %}
{% load staticfiles %}
    
{% block body_block %}

    <div>
        <div id="profile_stats">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" id="profile"
                width="320" height="300" />
            {% else %}
                <img src="{% static 'images/default_profile.jpg' %}" alt="Profile Picture" id="profile"
                width="320" height="300" />
            {% endif %}

            <button id="profile_change">Change Picture</button>
            <input type="file" id="file_input" style="display:none;" />

            <div id="stats">
                <h3>
                Signed in as: {{ user.username }} <br />
                User score: {{ user.points }} <br />
                Quizzes Taken: {{ user.quizzes_taken }} <br />
                Quizzes Created: {{ user.quizzes_created }}
                </h3>
            </div>
           
        </div>
    </div>

    <script src="{% static 'js/changeProfile.js' %}"></script>
    <script>
        const url = "{% url 'Quiztopia:profile' %}";
    </script>
{% endblock %}