{% extends 'Quiztopia/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Quiztopia | {{ quiz.quiz_title }}</title>
{% endblock %}

{% block body_block %}
<div class="container mt-4">
    <form id="answer_form" method="post" action="{% url 'Quiztopia:take_quiz' quiz.category_slug quiz.quiz_ID %}">
        {% csrf_token %}

    <div class="card shadow-sm p-4">
        <h1 class="text-center mb-3">{{ quiz.quiz_title }}</h1>
        <h4 class="text-center text-muted">Created by {{ quiz.creator }}</h4>
        <h5 class="text-center text-muted">{{ quiz.category }} - {{ quiz.difficulty }}</h5>

            <div id="questions mt-4">
                {% for question, answers in questions_answers %}
                <div class="mb-4 p-3 border rounded shadow-sm">
                    <h3 class="fw-bold">{{ forloop.counter }}. {{ question.question_text }}</h3>

                    <div class="mt-2">
                        <h4 id = "answerHeader">Answers:</h4>
                        {% for answer in answers %}
                            <div class = "answer">
                                <input type = "radio" name = "{{ forloop.parentloop.counter }}" value = "{{ forloop.counter }}" />
                                {{ answer }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="text-center">
                <input type = "submit" name = "submit" value = "Complete Quiz" />
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/takeQuiz.js' %}"></script>
{% endblock %}